<!-- Replace ::text:: with your code -->
<h2>Create / Edit Course</h2>
<form [formGroup]="courseForm" (ngSubmit)="onSubmit()">
  <div class="app-plate">
    <div class="course">
      <h3>Main Info</h3>
      <div class="form__control">
        <label for="title">Title</label>
        <input formControlName="title" id="title" type="text" placeholder="Input text"/>
        <span *ngIf="courseForm.get('title')?.errors?.['required'] && courseForm.get('title')?.touched" 
              id="titleErrorMessage" class="text-danger">
          Title is required
        </span>
      </div>

      <div class="form__control">
        <label for="description">Description</label>
        <textarea formControlName="description" id="description" placeholder="Input text"></textarea>
        <span *ngIf="courseForm.get('description')?.errors?.['required'] && courseForm.get('description')?.touched" 
              id="descriptionErrorMessage" class="text-danger">
          Description is required
        </span>
      </div>

      <div class="separator"></div>
      <h3>Authors</h3>
      
      <div formGroupName="newAuthor" class="form__control">
        <div class="course__flex">
          <input formControlName="authorName" id="author" type="text" placeholder="Input Author Name"/>
          <app-button (click)="createAuthor()" id="createAuthor">Create author</app-button>
        </div>
      </div>

      <div class="course__authors">
        <h4>Available authors:</h4>
        <div *ngFor="let author of availableAuthors" class="course__author">
          <span>{{author}}</span>
          <app-button (click)="addAuthor(author)">Add author</app-button>
        </div>

        <h4>Course authors:</h4>
        <div formArrayName="authors">
          <div *ngFor="let author of authors.controls; let i=index" class="course__author">
            <span>{{author.value}}</span>
            <app-button (click)="removeAuthor(i)">Delete author</app-button>
          </div>
        </div>
      </div>

      <div class="separator"></div>
      <h3>Duration</h3>
      <div class="form__control">
        <div class="course__flex">
          <input formControlName="duration" id="duration" type="number" placeholder="Input duration"/>
          <div class="course__duration">
            <b>{{courseForm.get('duration')?.value | duration}}</b> hours
          </div>
        </div>
        <span *ngIf="courseForm.get('duration')?.errors?.['required'] && courseForm.get('duration')?.touched" 
              id="durationErrorMessage" class="text-danger">
          Duration is required
        </span>
      </div>
    </div>
  </div>

  <div class="form__action">
    <app-button type="button">Cancel</app-button>
    <app-button type="submit">Create course</app-button>
  </div>
</form>